<%- include('partials/header.ejs') %>
<div class="wrapper">
  <div class="profile">
    <img src="image/starEmbracing.jpg" alt="" height="300px" />
    <div class="textDetail">
      <h2>Title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quaerat,
        consequatur porro ea unde temporibus rerum, dolor alias officiis
        inventore suscipit tempore reprehenderit. Tenetur debitis quis qui,
        libero quisquam harum?
      </p>
      <h3>Statistics:</h3>
      <ul>
        <li>Score: 8.51</li>
        <li>Ranked: #158</li>
        <li>Popularity: #1890</li>
        <li>Members: 137,239</li>
        <li>Favorites: 730</li>
      </ul>
    </div>
    <!-- <button><a href="/reading-comic">Start Reading</a></button> -->
  </div>
  <div class="ChapterList">
    <h3>Information</h3>
    <hr />
    <div class="chapter">
      <ul>
        <li>Type: TV</li>
        <li>Episodes: 13</li>
        <li>Status: Currently Airing</li>
        <li>Aired: Jan 3, 2026 to Mar 28, 2026</li>
        <li>Studios:</li>
        <li>Source: Light novel</li>
        <li>Genres: Action, Fantasy</li>
        <li>Duration: 24 min. per ep.</li>
      </ul>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
