<%- include('partials/header.ejs') %>
<div class="wrapper">
  <div class="title">
    <h1>Title</h1>
    <p>Chapter 1</p>
  </div>
  <div class="buttonRead">
    <button>Prev</button>
    <button>Next</button>
  </div>
  <div class="comic">
    <img src="image/01-optimized.webp" alt="comic" />
  </div>
  <div class="buttonRead">
    <button>Prev</button>
    <button>Next</button>
  </div>
</div>
<%- include('partials/footer.ejs') %>
